.hs{
	width:1184px;
	margin:53px auto auto 251px;
    height: 195px;
    z-index: 1;
    left: -251px;
    top: -52px;
    position: absolute;
}

.hs ul{
	list-style:none;
	margin:0;
	padding:0;	
}

.hs ul li{
	width:200px;
	float:left;
	margin-right:12px;
}

.showcase {
  /* Set it so we could calculate the offsetLeft */
  position: relative;
  height: 197px;
  width: 818px;
  /* Add scroll-bars */
  overflow: auto;
  float:left;
}

.left-arrow{
	width:53px;
	height:22px;
	display:block;
	margin-right:10px;
	float:left;
	
}

.right-arrow{
	width:22px;
	height:152px;
	display:block;
	margin-left:10px;
	float:left;
    z-index: 1;
    left: 970px;
    top: 109px;
    position: absolute;
}